<h1><%= @user %></h1>
<p>
  <strong>Email:</strong> <%= @email %>
</p>
<p>
  <strong>Interests:</strong> <%= @interests %>
</p>
<ul>
  <% @users.reject { |user| user == @user }.each do |user| %>
    <li><a href="/users/<%= user.to_s %>"> <%= user.to_s %></a></li>
  <% end %>
</ul>